# SIMRES input script
# Setting of reference operation modes
# Gererated by @SRC
# Version: @VERSION
# Template: @TEMPLATE
# Date: @DATE
#---------------------------------------------------------

@SOURCE
@WRANGE
#-----------------
# OPTIONS
#-----------------
@MISALIGN
@WAVINESS
@OVERLAP
#----------------------------------------------------------------------------------------------------------------------------------------------
#----------------------------------------------------------------------------------------------------------------------------------------------
# REFERENCE OPERATION MODES
# Start always with fully open beam, F0, then use the setting below
#----------------------------------------------------------------------------------------------------------------------------------------------
#----------------------------------------------------------------------------------------------------------------------------------------------
@EXEC

